@model List<OrderDetails>
@if (Model == null || !Model.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th class_exists="text-right">Price</th>
                <th class_exists="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                <tr>
                    <td>@item.Product.Type</td>
                    <td>@item.Quantity</td>
                    <td class_exists="text-right">$@((item.TotalPrice/item.Quantity).ToString("F2"))</td>
                    <td class_exists="text-right">$@item.TotalPrice.ToString("F2")</td>
                    <td><form method="post" asp-action="remove" asp-controller="Order" id="remove-product">
                        <input type="hidden" name="orderDetailsId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Grand Total:</strong></td>
                <td class="text-right">
                    <strong>$@Model.Sum(item => item.TotalPrice).ToString("F2")</strong>
                </td>
            </tr>
        </tfoot>
    </table>
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
