
@{
    ViewData["title"] = "forget password confirmation";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm email</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="modal-header">
            <h2>if you have account an email will be sent to you</h2>
        </div>
    </div>
</body>
</html>
