@using test.ViewModels
@model ForgetPasswordViewModel
@{
    ViewData["title"] = "Forget Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password | HappyPaws Haven</title>
</head>
<body>
    <div class="page-wrapper">


        <!-- Main Content -->
        <div class="login-container">
            <div class="login-box">
                <h1>Forget Password</h1>
                <p class="subtitle">Enter your email</p>
                <form asp-action="ForgetPasswordConfirmation" method="post">
                    <div class="input-group">
                        <label asp-for="email">Email</label>
                        <input type="text" asp-for="email" placeholder="Enter your email" required>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="login-box-btn btn">submit</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
