@using test.ViewModels
@model ResetPasswordViewModel
@{
    ViewData["title"] = "Reset Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password | HappyPaws Haven</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="login-container">
            <div class="login-box">
                <h1>Reset Password</h1>
                <form asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group">
                        <input type="hidden" asp-for="email">
                        <input type="hidden" asp-for="token" />
                    </div>
                    <div class="input-group">
                        <label asp-for="password">Password</label>
                        <input type="password" asp-for="password" placeholder="Enter new password" required>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="confirmPassword">Confirm Password</label>
                        <input type="password" asp-for="confirmPassword" placeholder="confirm password" required>
                        <span asp-validation-for="confirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="login-box-btn btn">submit</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>